# build
build*/

# junk
z.junk/

# homebrew
Brewfile.lock.json

# hitran par file
*.par

# datafile
data/[^(CMakeLists)]*.txt
data/[^(CMakeLists)]*.hit

# tmp file
*.tmp

# test file
tests/Testing

# netcdf
*.nc
